## Familiarize yourself
The first thing to do is to get familiar with your dataset. Python provides a library called Pandas that can help us to analyze and manipulate our dataset. Pandas has many fuctions to carry out those duties. In Pandas, Dataframes are the center of focus. They are a tabular representation of our data.

In [1]:
#First import the necessary libraries
#( If the model cannot be found, go to your terminal and run pip install pandas)
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

# It is best practice to save the data's path in a variable for future use.
data_path = "StudentsPerformance.csv"

# We read it with pandas
data = pd.read_csv(data_path)

In [2]:
# Let's take a look at the summary of our data using the describe function

data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

The count row shows the number of unempty entries for each column
The mean shows the average value for the numerical rows in the dataset
The std(standard deviation) shows how spread the data is from the mean in each column
The min row show the least record in each row, same for the max.
The 25% percental row shows the value at the first quarter in each row wit numerical entries.
The 50% percental shows the mid-value for each numerical column.
The 75% percental shows the 3rd quarter value for each numerical column.


From our summary, we see that the lowest math score is 0 and the highest is 100. Quite impressive!

Our mean values show us that the best performing course is reading, followed by writing and the least is mathematics.

In [3]:
# Check out the different columns including the non-numerical ones
data.columns.tolist()

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

Check for missing data and drop rows with missing data.

In [4]:
data = data.dropna(axis = 0)

 Select prediction column and select columns to be used in data training.
 Prediction column is stored in a vaiable X. The columns for training can be called features and these are stored in the Y variable.

Firstly, we have to change the column name in the data to remove white spaces between column names to avoid errors

In [5]:
data.columns = [col.replace(' ', '_') for col in data.columns]
data.columns

Index(['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [6]:
#Select this column with the dot notation.
y = data.math_score

To select the columns for Y, we need to save the column names in a list if we want to manually select some specific columns.

In [7]:
feature_cols = ['reading_score','writing_score']
X = data[feature_cols]
X.describe()

       reading_score  writing_score
count    1000.000000    1000.000000
mean       69.169000      68.054000
std        14.600192      15.195657
min        17.000000      10.000000
25%        59.000000      57.750000
50%        70.000000      69.000000
75%        79.000000      79.000000
max       100.000000     100.000000

Data description for numeric columns are different from that of non-numeric columns.

If a dataset contains at least one numeric column, the describe function will summarize only the numeric columns and ignore the non-numeric columns.

If there is no numeric column in the dataset, it will provide a different kind of description for the non-numeric columns like we see above.

In [9]:
# Build the model
student_model = DecisionTreeRegressor(random_state = 1)

# Fit the model
student_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [10]:
predictions2 = student_model.predict(X.head())
print(predictions2)

y.head()

[65.2  76.25 90.   47.   82.  ]

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64