## Familiarize yourself
The first thing to do is to get familiar with your dataset. Python provides a library called Pandas that can help us to analyze and manipulate our dataset. Pandas has many fuctions to carry out those duties. In Pandas, Dataframes are the center of focus. They are a tabular representation of our data.

In [1]:
#First import the necessary libraries
#( If the model cannot be found, go to your terminal and run pip install pandas)
import pandas as pd

# It is best practice to save the data's path in a variable for future use.
data_path = "StudentsPerformance.csv"

# We read it with pandas
data = pd.read_csv(data_path)

In [2]:
# Let's take a look at the summary of our data using the describe function

data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

The count row shows the number of unempty entries for each column
The mean shows the average value for the numerical rows in the dataset
The std(standard deviation) shows how spread the data is from the mean in each column
The min row show the least record in each row, same for the max.
The 25% percental row shows the value at the first quarter in each row wit numerical entries.
The 50% percental shows the mid-value for each numerical column.
The 75% percental shows the 3rd quarter value for each numerical column.


From our summary, we see that the lowest math score is 0 and the highest is 100. Quite impressive!

Our mean values show us that the best performing course is reading, followed by writing and the least is mathematics.

In [3]:
# Check out the different columns including the non-numerical ones
data.columns.tolist()

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']